.controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

@media (min-width: 1024px) {
  .controls {
    padding: 0;
  }
}

@media (min-width: 1540px) {
  .controls {
    position: relative;
    z-index: 1;
  }
}
