@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --black: #333;
  --black02: rgba(0, 0, 0, .2);
  --black04: rgba(0, 0, 0, .4);
  --black06: rgba(0, 0, 0, .6);
  --black08: rgba(0, 0, 0, .8);
  --white: #fff;
  --orange: #c63;
  --green: #a4cc33;
  --purple: #cc3361;
  --grayF3: #f3f3f3;
  --grayF4: #f4f4f4;
  --grayEC: #ececec;
  --grayE5: #e5e5e5;
  --grayD9: #d9d9d9;
  --grayC4: #c4c4c4;
  --gray99: #999999;
  --gray66: #666;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--grayF4);
  font-size: 14px;
  font-family: 'Roboto', serif;
  color: var(--black);
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}
